body {
  background: hsl(224, 56%, 16%);
}

#heading h1 {
  color: white;
  text-align: center;
  margin: 6vmin 0;
  font: 700 48px "Open Sans", sans-serif !important;
}

#content {
  color: white;
  max-width: 110vmin;
}

#svg circle:hover {
  stroke-width: 4px;
}

#svg circle {
  transition: stroke-width 0.25s ease-in-out;
}

#svg g text {
  pointer-events: none;
  font: 700 24px "Open Sans", sans-serif;
}

#details ul {
  font: 700 1rem "Open Sans", sans-serif;
}

#slider {
  color: white;
}

#sidebar {
  overflow-y: auto;
  border-radius: 1rem;
  border-width: 1px;
}
